.container
  %section.first
    .inner-container
      .row-fluid
        .span12
          %h2.buffer Pirate Party Leadership Collaberation

          %p
            The Pirate Party is about using the Internet to come together in the most efficent way possible. This is why we have decided to use Loomio as the base of our system. To get access into our system, please email info@pirateparty.ca. 
            =link_to 'Find out more', about_path
